h1, h2 {
	text-align: center;
}

.nocanvas {
	text-align: center;	
	width: 500px;;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	color: red;
}

#logo {
	display: block;
    margin: 0 auto;
    padding-top: 30px;    
    padding-bottom: 20px;
}

div.menu {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	border: dotted thin;
	padding-top: 20px;	
	padding-bottom: 50px;
}

#start3 {
	padding-bottom: 50px;
}

div.canvas {
	margin-top: 5px;	
	text-align: center;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

div.info {
	text-align: center;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#singleCanvas {
	padding-left: 70px;
}

.right {
	float: right;
}